<div xmlns:th="http://www.w3.org/1999/xhtml">
    <table class="table table-condensed">
        <tr>
            <th>PROJETO</th>
            <th>QTD MÓDULOS</th>
            <th></th>
        </tr>
        <tr th:each="project : ${projects}">
            <td><a th:href="@{/{id}(id=${project.id})}" th:text="${project.name}"></a></td>
            <td th:text="${project.modules.size()}"></td>
            <td>
                <form action="#" th:action="@{'/'(id=${project.id})}" th:method="delete" style ='float: left; padding: 5px;'>
                    <button type="submit" class="btn btn-danger btn-xs" placeholder="D">D</button>
                </form>
            </td>
        </tr>
    </table>


    <form action="#" th:action="@{/}" th:object="${newProject}" method="post">
        <input type="hidden" th:field="*{id}"/>
        <div class="form-group">
            <input type="text" class="form-control" id="name" placeholder="Nome do Projeto" th:field="*{name}"/>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-sm-6">
                    <input type="password" class="form-control" id="postPassword" placeholder="Senha para Inserir" th:field="*{postPassword}"/>
                </div>
                <div class="col-sm-6">
                    <input type="password" class="form-control" id="deletePassword" placeholder="Senha para deletar" th:field="*{deletePassword}"/>
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-default btn-block">Inserir novo projeto</button>
    </form>
</div>
