<form class="form-horizontal">
    <div class="form-group">
        <div class="col-sm-6">
            <textarea type="text" class="form-control" id="inputRequest" placeholder="Request" rows="20"/>
        </div>
        <div class="col-sm-6">
            <textarea type="text" class="form-control" id="inputResponse" placeholder="Response" rows="20"/>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-12">
            <input type="password" class="form-control" id="inputPassword" placeholder="Password"/>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-12">
            <select class="form-control">
                <option>SELECIONE O PROJETO</option>
                <option>BANCO ORIGINAL</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
            </select>
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-12">
            <button type="submit" class="btn btn-block btn-default">Enviar</button>
        </div>
    </div>
</form>